body{
    background-color: rgb(11, 12, 54);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}
*{
    margin: 0;
    padding: 0;
}
.img1{
    width: 5rem;
    height: 5rem;
    padding-left: 2rem;
    margin-top: 4px;
 
}
.menu{
    background-color: rgba(255, 255, 255);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 10rem;
    padding-right: 8rem; /*Borda*/
    align-items: center;
    color: rgb(255, 255, 255);

}
a:hover{
    color: rgb(133, 33, 8);
}

a{
    color: aliceblue;
    text-decoration: none;
}

.mundool{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 500px;
    
}

.sobre{
    padding: 10px 20px;
    border: 2px solid #010633; 
    background-color: #010633;  
    border-radius: 5px; 
    cursor: pointer;
}
.simulador{
    padding: 10px 20px;
    border: 2px solid #010633; 
    background-color: #010633;  
    border-radius: 5px; 
    cursor: pointer;
}
.situacao{
    padding: 10px 20px;
    border: 2px solid #010633; 
    background-color: #010633;  
    border-radius: 5px; 
    cursor: pointer;
}
.equipe{
    padding: 10px 20px;
    border: 2px solid #010633; 
    background-color: #010633;  
    border-radius: 5px; 
    cursor: pointer;
}

.img-container{
    justify-items: center;
}
.img-content{
    justify-items: center;
    display: flex;
    justify-content: center;
}
.img-centro{
    width: 570px;
    height: auto;
    display:flex;
    padding: 110px;
    justify-content: center;
    border-radius: 170px;
}


.redes-sociais{
    display: flex;
    justify-content: center;
}



.conteiner-rodape{
   display: inline-flex;
     justify-items: center;
}

.rodape{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.logo-senai{
 width: 10%;
 display: flex;

}

.logoll{
 width: 5%;
 height: 5%;
 border-radius: 188%;

}

.logo-emides{
    width: 5%;
    height: 5%;
}
/*
hr{
    color: rgb(240, 29, 29);
    border: 2px;
}
*/
.facebook{
    width: 190px;
    height: 100px;
   
}
.instagram{
    width: 190px;
    height: 100px;
}

/*
.membro img {
    width: 200px;
    height: 200px;
    border-radius: 30%;
    object-fit: cover;
}
.equipe {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.membro {
    text-align: center;
    margin: 40px;
}*/
h1{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: justify;
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: aliceblue;
}





body{
    background-color: rgb(11, 12, 54);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}
*{
    margin: 0;
    padding: 0;
}
.img1{
    width: 5rem;
    height: 5rem;
    padding-left: 2rem;
    margin-top: 4px;
 
}
.menu{
    background-color: rgba(255, 255, 255);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
   
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 10rem;
    padding-right: 8rem; /*Borda*/
    align-items: center;

}
a:hover{
    color: brown;
}
.img-container{
    justify-items: center;
}
.img-content{
    justify-items: center;
    display: flex;
    justify-content: center;
}
.img-centro{
    width: 570px;
    height: auto;
    display:flex;
    padding: 110px;
    justify-content: center;
    border-radius: 170px;
}


.redes-sociais{
    display: flex;
    justify-content: center;
}





.rodape{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.logo-senai{
 width: 10%;
 display: flex;

}

.logoll{
 width: 5%;
 height: 5%;
 border-radius: 188%;

}
/*
hr{
    color: rgb(240, 29, 29);
    border: 2px;
}
*/
.facebook{
    width: 190px;
    height: 100px;
   
}
.instagram{
    width: 190px;
    height: 100px;
}

